# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig
# Created by https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode,groovy
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,visualstudiocode,groovy

### Groovy ###
# .gitignore created from Groovy contributors in https://github.com/apache/groovy/blob/master/.gitignore
images/
config.txt
user.gradle
.gradle/
target/
build/
out/

*.DS_Store
*.class
*.swp
*~

.idea
*.iml
*.ipr
*.iws
.shelf

.settings/
.classpath
.project
bin/


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode,groovy

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

